section{
    height: 500px; 
    margin-bottom: 200px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
.name-highlight{
    color: salmon;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
p{
    color: gray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
.button{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(45deg,salmon, white );
    padding: 10px 10px;
    border-radius: 10%;
    font-weight: 700;
}
.half-width img{
    width: 100%;
}
.h2-color{
    color: rgb(11, 11, 65);
}
#h2{
    text-align: center;
    color: rgb(11, 11, 65);
    
}
.latest{
    width: 22%;
    float: left;
    margin: 5%;
    box-shadow: 10px 10px 40px grey;
    height: 500px;
    border-radius: 10%;
}
.latest img{
    width: 100%;
}
.latest h3{
    color: navy;
    font-weight: 700;
    text-align: center;
}
.latest p{
    font-weight: 700;
   
    text-align: center;
}
#unique{
    height: 50px;
}
.message{
      border: 5px solid black;
      height: 250px;
      color: white;
      width: 60%;
      font-weight: 700;
      margin-left: 20%;
      margin-right: 30%;
      padding: 5% 5%;
      font-size: x-large;
      background-image: linear-gradient(45deg,lightSalmon,tomato);
      border-radius: 2%;
      box-shadow: 20px 20px 100px grey;

      

  }
  .message h2{
      text-align: center;
  }

  .chat{
      width:50%;
      float: left;
  }
  #unique{
      padding-left: 10%;
  }
  #email{
      padding-left: 10%;
  }

