section{
    height: 300px; 
    margin-bottom: 350px;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}
.name-highlight{
    color: salmon;
}
h2{
    font-size: 40px;
    font-weight: 700;

}
p{
    color: gray;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
.button{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(45deg,salmon, white );
    padding: 10px 10px;
    border-radius: 10%;
    font-weight: 700;
}
.half-width img{
    width: 80%;
}
.h2-color{
    color: rgb(11, 11, 65);
}
#h2{
    text-align: center;
    color: rgb(11, 11, 65);
    
}
.latest{
    width: 22%;
    float: left;
    margin: 5%;
    box-shadow: 10px 10px 40px grey;
    height: 500px;
    border-radius: 10%;
}
.latest img{
    width: 100%;
}
.latest h3{
    color: navy;
    font-weight: 700;
    text-align: center;
}
.latest p{
    font-weight: 700;
   
    text-align: center;
}

.shapes{
    margin-left: 28%;

}
.container{
    position: relative;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.mid-right{
    position: absolute;
    top: 30px;
    margin-left: 35%;
    left: 16px;
}
#button-img{
    position: absolute;
    top: 30px;
    margin-right: 35%;
    right: 16px;
    float:left;
}

.navi{
    position: relative;
    margin-left: 35%;
    background-image: linear-gradient(45deg, tomato,white);
    height: 250px;
    width: 30%;
    border-radius: 5%;
    margin-bottom: 70px;
}
.navi h3{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: white;
}
.navi input{
    text-align: center;
    margin-left: 10%;
}
.navi a{
    text-decoration: none;
    color: black;
    background-image: linear-gradient(45deg,salmon, white );
    padding: 10px 10px;
    border-radius: 10%;
    font-weight: 700;
    margin-left: 40%;
    margin-top: 10%;
}
footer h4{
    text-align: center;
    font-size: 40px;
    font-weight: 700;

}
footer h5{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.icons{
    position: relative;
    height: 50px;
    margin-left: 40%;
}

